
.title{
	font-size: 60px;
	margin-top: 100px;
	display: block;
	font-weight: 600;
	margin-bottom: 25px;
	font-family: "Montserrat";
  color: #3c389b;
}
 .hint{
	font-size: 14px;
	font-family: "Montserrat";
	font-weight: 600;
	color:  #72C6D8;
 }

.right-menu {
    background-color: white;
    // padding: 10px;
  }
  
  .left-menu {
    background-color: #d7ddff;
    padding: 10px;
  }

  mat-form-field{
    width: 20rem;
  }

  #content{
    height: 100%;
    position: absolute;
    max-height: 100%;
    width: 100%;
  }

  .btn{
	width: 20rem;
  background-color: #3c389b;
	color: #d7ddff;
	font-size: 1.1rem;
	font-family: "Montserrat";
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

mat-label{
	font-family: "Montserrat";
    font-size: medium;
    font-weight: 500;
 }

h1{
	font-family: "Montserrat";
 }

 .content-title {
    font-size: x-large;
    font-weight: 600;
}
input{
    color: #72C6D8;
    caret-color: #72C6D8;
}
img{
  width: 100%;
}