<div id="content">
  <div fxLayout="row" fxLayoutAlign="space-between stretch" fxFlex="100%" fxFlexFill>
    <div fxFlexFill class="cardWrap" fxLayout.lt-sm="column" fxLayout.sm="column"  fxLayout="row"  
      fxLayoutAligmnet="space-between center" fxLayoutGap="20px"  >
      <div class="left-menu" fxFlex="40" fxLayoutAlign="center center"  fxLayout="column" fxFlexFill fxFlex.sm="100" fxFlex.lt-sm="100">
          <div>
              <mat-card-header>
                  <mat-card-title class="title">DIGI CHIT</mat-card-title>
              </mat-card-header >
          </div>
          
          <div class="p-2">
            <img src="./assets/digichit.png">
          </div>
      </div>
      <div fxFlex class="right-menu" fxFlex="60" fxLayoutAlign="center center"  fxLayout="column" fxFlex.sm="100" fxFlex.lt-sm="100">
        <mat-card-header class="p-5">
          <mat-card-title class="content-title">Sign in To Digi Chit</mat-card-title>
        </mat-card-header>

        <div>
          <mat-label>User Name</mat-label>
          <br>
          <mat-form-field appearance="outline">
              <input matInput [(ngModel)]="username">
          </mat-form-field>
        </div>
        <div>
          <mat-label>Password</mat-label>
          <br>
          <mat-form-field appearance="outline">
             <input matInput type="password" [(ngModel)]="password">
          </mat-form-field>
          </div>
          <div class="mt-3">
            <button class="btn" mat-raised-button (click)="onSubmit()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  