<div fxLayout="column" class="p-3">
    <div>
        <mat-card-header>
            <mat-card-title class="head">Add Organization</mat-card-title>
        </mat-card-header>
        <button mat-raised-button class="button" (click)="viewOrganizations()">View Organization</button>
    </div>
    <div>
        <mat-card class="mat-card-form">
            <div>
                <mat-card-header>
                    <mat-card-title class="mat-card-title1">Update Organizations</mat-card-title>
                </mat-card-header>
                <mat-hint>Update your Organization name</mat-hint>
                <mat-card-content>
                    <label>Name</label>
                    <mat-form-field appearance="outline" floatLabel="never">
                        <input matInput [(ngModel)] = "orgName"  class="place-holder-center" autocomplete="off">
                    </mat-form-field>
                    <button class="btn-base submit-btn" (click)="updateOrganization()">Save</button>
                    <button class="btn-base cancel-btn" (click)="cancel()">Cancel</button>
                </mat-card-content>
            </div>
        </mat-card>
    </div>
</div>
