<div fxLayout="column" class="p-3">
  <div>
      <mat-card-header>
          <mat-card-title class="head">Add Account</mat-card-title>
      </mat-card-header>
      <button mat-raised-button class="button" (click)="viewAccount()">View Account</button>
  </div>
  <div>
      <mat-card class="mat-card-form">
          <div>
              <mat-card-header>
                  <mat-card-title class="mat-card-title1">New Account</mat-card-title>
              </mat-card-header>
              <mat-hint>Give your Account a name</mat-hint>
              <mat-card-content>
                  <label>First Name</label>
                  <mat-form-field appearance="outline" floatLabel="always">
                      <input matInput [(ngModel)] = "firstName"  class="place-holder-center" autocomplete="off">
                  </mat-form-field>
                  <label>Last Name</label>
                  <mat-form-field appearance="outline" floatLabel="always">
                      <input matInput [(ngModel)] = "lastName"  class="place-holder-center" autocomplete="off">
                  </mat-form-field>
                  <div>
                    <label>Organization</label>
                    <mat-form-field appearance="outline">
                      <mat-select [(ngModel)] = "orgId">
                        <mat-option *ngFor="let org of orgs"  [value]="org.id">{{org.orgName}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <label>Email</label>
                  <mat-form-field appearance="outline" floatLabel="always">
                      <input matInput [(ngModel)] = "email"  class="place-holder-center" autocomplete="off">
                  </mat-form-field>
                  <label>Password</label>
                  <mat-form-field appearance="outline" floatLabel="always">
                      <input [type]="hide ? 'password' : 'text'" matInput [(ngModel)] = "password"  class="place-holder-center" autocomplete="off">
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                 </mat-form-field>
                 <label>Confirm Password</label>
                  <mat-form-field appearance="outline" floatLabel="always">
                      <input [type]="hide ? 'password' : 'text'" matInput [(ngModel)] = "confirmPassword"  class="place-holder-center" autocomplete="off">
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                 </mat-form-field>
                  <label>Mobile</label>
                  <mat-form-field appearance="outline" floatLabel="always">
                      <input matInput [(ngModel)] = "mobile"  class="place-holder-center" autocomplete="off">
                  </mat-form-field>
                  <div>
                    <label>Roles</label>
                    <mat-form-field appearance="outline">
                      <mat-select multiple [(ngModel)] = "selectedRoles">
                        <mat-option *ngFor="let role of roles"  [value]="role.roleId">{{role.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                
                  <button class="btn-base submit-btn" (click)="saveAccount()">Save</button>
                  <button class="btn-base cancel-btn" (click)="cancel()">Cancel</button>
              </mat-card-content>
          </div>
      </mat-card>
  </div>
</div>
