<div class="dataTable">
  <div class="mt-2">
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="20">
      <div fxFlex="50" fxLayoutAlign="start center" >
        <mat-card-header>
          <mat-card-title class="head">View Members</mat-card-title>
        </mat-card-header>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="p-3">
      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
        <div fxLayoutAlign="center center">
          <mat-form-field appearance="outline">
            <mat-label>Member</mat-label>
            <mat-select >
              <mat-option value="">ALL</mat-option>
              <mat-option>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
       
        <div fxLayoutAlign="center center" class="mb-3">
          <button class="btn-base submit-btn">Search</button>
        </div>
    </div>
    <mat-card>
        <div class="example-container mat-elevation-z8">
          <mat-card-title class="table_title">Member Details</mat-card-title>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef class="table-header"> No. </th>
              <td mat-cell *matCellDef= "let element let i = index"> {{i+1}}</td>
            </ng-container>
          
            <!--First Name Column -->
            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef class="table-header">First name</th>
              <td mat-cell *matCellDef="let element"> </td>
            </ng-container>
        
            <!--Last Name Column -->
            <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef class="table-header">Last name</th>
              <td mat-cell *matCellDef="let element">  </td>
            </ng-container>
      
            <!--Email Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef class="table-header">Email Address</th>
              <td mat-cell *matCellDef="let element"> </td>
            </ng-container>
      
            <!--Mobile Column -->
            <ng-container matColumnDef="mobile">
              <th mat-header-cell *matHeaderCellDef class="table-header">Mobile</th>
              <td mat-cell *matCellDef="let element"> </td>
            </ng-container>
          
            <!-- Action Column -->
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef class="table-header" style="text-align: center"> Edit </th>
              <td mat-cell *matCellDef="let element" style="text-align: center">
                  <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary" >
                      <mat-icon aria-label="Edit">edit</mat-icon>
                  </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef class="table-header" style="text-align: center"> Delete </th>
              <td mat-cell *matCellDef="let element" style="text-align: center">
                  <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn" >
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <div class="no-records-text mt-3" *ngIf= "!dataSource || dataSource.data.length == 0">No Records Found!</div>
        </div>
      </mat-card>
    </div>

      <div class="p-3">
        <mat-paginator [pageSize]= "pageSize" [pageSizeOptions]= "[5, 10, 20]" [showFirstLastButtons]= "true"
          [pageIndex]= "currentPage" [length]= "totalSize" (page)= "getMembersPaginatorData($event)">
        </mat-paginator>
        </div>
      </div>
      
</div>


    