<div class="container">
    <div class="text-center mt-3">
        <mat-form-field>
          <mat-label>Category Name</mat-label>
          <mat-select [(ngModel)] = "categoryId" (selectionChange)= "fetchPollByCategory()">
            <mat-option *ngFor= "let category of categories" [value]= "category.id">{{category.categoryName}}</mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field>
           <mat-label>Poll Name</mat-label>
           <mat-select [(ngModel)] = "pollId">
           <mat-option  *ngFor="let poll of polls" [value]="poll.id">{{poll.pollName}}</mat-option>
           </mat-select>
        </mat-form-field>
        
        <button mat-raised-button class="btn-base submit-btn" (click)="submit()" value="yes">Submit</button>        
    </div>

    <mat-card class="mat-card-form" *ngIf="isShown">
        <div class="mat-card-form">        
            <mat-card-content>
                <div style="margin:20px">                
                    <div style="height: 370px; overflow-y: scroll;">
                        <div *ngFor = "let question of questions;index as i" class="question">
                            <label>{{i+1}}) {{question.question}}</label>
                            <div>
                                <ul>
                                    <li *ngFor = "let option of question.options">{{option.option}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="totalSize > 0">
                        <mat-paginator [pageSize]= "pageSize" [pageSizeOptions]= "[5, 10, 20]" [showFirstLastButtons]= "true"
                            [pageIndex]= "currentPage" [length]= "totalSize" (page)= "getPollQuestionsPaginatorData($event)">
                        </mat-paginator>
                    </div>
                </div>
            </mat-card-content>
        </div>
    </mat-card>
</div>