mat-card {
    width: 100%;
    margin: auto;
  }
  
  .btn1 {
    color: #ffffff;
    background-color: #40a3dd;
    width: 12%;
    border-radius: 3px;
  }
  mat-form-field{
    font-size: 15px;
    padding: 20px;
    width: 30%;
}
.question{
    padding: auto;
}