<div fxLayout="column" class="p-3">
  <div>
      <mat-card-header>
          <mat-card-title class="head">Edit Member</mat-card-title>
      </mat-card-header>
      <button mat-raised-button class="button" (click)="viewMember()">View member</button>
  </div>
  <div>
      <mat-card class="mat-card-form">
          <div>
              <mat-card-header>
                  <mat-card-title class="mat-card-title1">New Member</mat-card-title>
              </mat-card-header>
              <mat-hint>Give your Member a name</mat-hint>
              <mat-card-content>
                  <label>First Name</label>
                  <mat-form-field appearance="outline" floatLabel="always">
                      <input matInput [(ngModel)] = "firstName"  class="place-holder-center" autocomplete="off">
                  </mat-form-field>

                  <label>Last Name</label>
                  <mat-form-field appearance="outline" floatLabel="always">
                      <input matInput [(ngModel)] = "lastName"  class="place-holder-center" autocomplete="off">
                  </mat-form-field>

                  <label>Email Address</label>
                  <mat-form-field appearance="outline" floatLabel="always">
                      <input matInput [(ngModel)] = "email"  class="place-holder-center" autocomplete="off">
                  </mat-form-field>

                  <label>Mobile</label>
                  <mat-form-field appearance="outline" floatLabel="always">
                      <input matInput [(ngModel)] = "mobile"  class="place-holder-center" autocomplete="off">
                  </mat-form-field>

                  <button class="btn-base submit-btn" (click)="saveMember()">Save</button>
                  <button class="btn-base cancel-btn" (click)="cancel()">Cancel</button>
              </mat-card-content>
          </div>
      </mat-card>
  </div>
</div>
