
<div class="dataTable">
  <div class="mt-2">
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="20">
      <div fxFlex="50" fxLayoutAlign="start center" >
        <mat-card-header>
          <mat-card-title class="head">View Invite</mat-card-title>
        </mat-card-header>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
           
<div class="p-3">
      <mat-card>
        <div class="example-container mat-elevation-z8">
          <mat-card-title class="table_title">Invite List</mat-card-title>
              <table mat-table [dataSource]="dataSource">

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef class="table-header"> No. </th>
                  <td mat-cell *matCellDef="let element let i = index"> {{i+1}}</td>
                </ng-container>

                <!--Category Name Column -->
                <ng-container matColumnDef="mobileNumber">
                  <th mat-header-cell *matHeaderCellDef class="table-header">Mobile Number</th>
                  <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>

                <!--Created By Column -->
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef class="table-header">email</th>
                  <td mat-cell *matCellDef="let element">{{element.time}}</td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef class="table-header">Status</th>
                  <td mat-cell *matCellDef="let element">{{element.time}}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef class="table-header" style="text-align: center"> Action </th>
                  <td mat-cell *matCellDef="let element" class="column-container"
                    style="text-align: center; color: hsla(210, 95%, 57%, 0.933)">
                    <button mat-icon-button matTooltip="Click to Invite" class="iconbutton">
                      <mat-icon aria-label="Invite" title="Invite">near_me</mat-icon>
                    </button>

                    <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn"
                      (click)="(element.id)">
                      <mat-icon aria-label="Delete" title="Delete">delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <!-- <div class="no-records-text mt-3" *ngIf="!dataSource || dataSource.data.length <= 0">No Records Found!</div> -->
            </div>
          </mat-card>
        </div>
    
    <div class="p-3">
      <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"
        [pageIndex]="currentPage" [length]="totalSize" (page)="getPaginatorData($event)">
      </mat-paginator>
    </div>
  </div>
</div>