// .page {
//     color: #8391a2;
//     background: #f1f5f9;
//     width: 100%;
//     padding-right: var(--bs-gutter-x,.75rem);
//     padding-left: var(--bs-gutter-x,.75rem);
//     margin-right: auto;
//     margin-left: auto;
//     &__box {
//       min-height: 120px;
//       background: #f1f5f9;
//       font-size: 36px;
  
//     }
//     &__content {
//       min-height: calc(100vh - 178px);
//       border-radius: 10px;
//       background: white;
//       color: black;
//       font-size: 2rem;
//       &-data {
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//       }
//     }
//   }
//   mat-form-field{
//     font-size: 15px;
//     padding: 20px;
// }
// .mat-input-element::placeholder {
//   color: #72C6D8;
// }
.alignIcons{
  position: relative;
  // right: 12%;
  top: 64%;
  height: 40px;
  width: 40px;
}
.progressDiv{
  height: 40px;
  position: relative;
  bottom: -2%;
  // left: 12%;
  margin-top: 0.8rem;
}
.headerFont{
  font: 500 21px/32px Montserrat;
}
.alignPercent{
  margin-inline: 0px;
    width: -moz-fit-content;
    /* margin-top: -32px; */
    width: fit-content;
    position: absolute;
    left: 85%;
    top: 90%;
    font-size: 12px;
}
.line{
  border: none;
    border-top: 2px dashed #737373;
    color: #fff;
    background-color: #fff;
    height: 1px;
    margin-bottom: -2px;
    width: 92%;
    margin-top: auto;
    position: relative;
    top: 18px;
    // right: 28px;
    margin-left: auto;
    margin-right: auto;
}

.mat-progress-bar {
  display: block;
    height: 4px;
    overflow: hidden;
    position: inherit;
    transition: opacity 250ms linear;
    width: 40%;
    left: 42%;
    bottom: 29%;
    height: 5px;
    border-radius: 20px;
}
.socialapp-name{
  font-size: 11px;
  text-align: inherit;
  // margin-left: 10px;
  margin-top: -4px;
  font-weight: 600;
  margin-left: 16%;
}

mat-card-content{
  width: 100%;
  margin-top: 30px;
}

.form{
  width: 100%;
}
mat-form-field {
  width: 10%;
  width: 10%;
  float: right;
  padding-top: 0;
  padding: 10px 0 6px 0;
  margin-left: 10px;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 10px 0 6px 0;
}
// .filter {
//   padding: auto;
// }  
input, select, textarea{
  color: #72C6D8;
}
label{
  font-weight: 0;
}
 mat-hint{
  margin-left: -2px;
 font-size: 11px;
}
.smHint{
  margin-top: -10px;
}
input{
  color: #72C6D8;
 
}
.yearAlign{
  float: right;
  border: #dddddd solid 1px;
  border-radius: 4px;
  margin: 12px;
  color: #211F1C;
  height: 22px;
  background-color: white;
}
.yearAlign2{
  float: right;
  margin-top: -3rem;

}
.filter{
  border: #dddddd solid 1px;
  border-radius: 4px;
  margin: 12px;
  color: #211F1C;
  height: 22px;
  background-color: white;
}
.fadeColor:focus {
  outline: #dddddd;
}
.fadeColor:hover {
  outline: #dddddd;
}

.alignIcon{
  font-size: medium;
  position: relative;
  top: 2px;
}

.input:focus {
outline-color: aqua;
} 

::ng-deep .mat-card-title {
  margin-top: 20px;
  margin-bottom: auto;
}
.mat-card-form{

margin-left: 20px;
width: 97%;
margin-top :20px;
}
.head{
font-size: 24px;
margin-left: 3%;
}
.button{
background-color:#ffffff;
float: right;
color: #737373;
border: none;
width: 120px;
height: 35px;
border-radius: 4px;
font-size: 12px;
box-shadow: 0px 2px 1px -1pxrgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
text-align: center;
margin-top: -20px;
margin-right: 15px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: .25rem;
  border: none;
  box-shadow: 0 0px 0px 0px #dddddd, 0 1px 2px #dddddd, 0 0px 0.5px #dddddd;
}

.refresh-btn{
  color:  #211F1C;
  background-color: #DDDDDD;
}

.subscribers{
  width: 100%;
  height: 25rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  display: flex;
  flex-direction:column;
}
.poll{
  border: none;
  border-top: 2px dashed #737373;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 100%;
}
hr{
  background-color: #737373;
}
.count-poll{
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.users{
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.ps-22r{
  height: 25rem;
  width: 100%;
  max-width: 500px;
  position: relative;
  left: 2px;
}

.results{
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  border-radius: 8px;
  margin-top: 20px
}

.subscriber-title{
  font-size: large;
  margin: initial;
}
.name{
  float: left;
  width: fit-content;
}
.polls{
  font-size: 15px;
    font-weight: 500;
    margin: initial;
}

.marginPollImg{
  // position: absolute;
    // margin-left: 11.8rem;
    // margin-top: -12px;
    width: 100;
}
.count{
  font-size: xx-large;
  font-weight: 500;
}
.icon{
  width: 35px;
  position: absolute;
  margin-left: -2rem;
  margin-top: -21px;
}
.choose-poll{
  font-size: larger;
    margin: initial;
    font-weight: 450;

}
.filterBy{
  margin-top: -2rem;
}
.result{
  font-size: 17px;
}
.btn{
  background-color:#ffffff;
float: right;
color: #737373;
border: none;
width: 120px;
height: 35px;
border-radius: 4px;
font-size: 12px;
box-shadow: 0px 2px 1px -1pxrgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
text-align: center;
margin-top: -31px;
    /* margin-right: 41px; */
    margin-left: inherit;
}
.btn2{
  background-color:#ffffff;
float: right;
color: #737373;
border: none;
width: 120px;
height: 35px;
border-radius: 4px;
font-size: 12px;
box-shadow: 0px 2px 1px -1pxrgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
text-align: center;
margin-top: -55px;
    /* margin-right: 41px; */
    margin-left: inherit;
}
h3, h1, h4{
  font-weight: 500;
  font-family: "Montserrat";
}
.yearAlign1{
  margin-top: -2rem;
  margin-right: 19px;
  float: right;
  border: #dddddd solid 1px;
  border-radius: 4px;
  color: #211F1C;
  height: 22px;
  background-color: white;
}
mat-label{
  font-weight: 500;
  font-family: "Montserrat";
}

.poll-question{
  font-size: large;
  font-weight: 500;
}

.scroll{
  // width: 110px;
  height: 350px;
  overflow: auto;
}
 
canvas{
  margin: 10px;
}

