<div id="dashboard">
    <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign="space-between stretch" fxFlex="100%" fxFlexFill>
      <div fxFlexFill fxLayout="row" fxLayout.xs="column">
        <div class="left-menu" fxFlex="40">
    
        </div>
        <div fxFlex class="content" fxFlex="60" fxLayoutAlign="center center" fxLayoutAlign.xs="end center"  fxLayout="row" fxLayout.xs="column" fxLayoutGap="20">
            <div fxFlex="40">
              <button class="btn" mat-raised-button (click)="superAdmin()">Super Admin</button>
            </div>
            <div fxFlex="40">
              <button class="btn" mat-raised-button (click)="admin()">Admin</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    