.page {
  color: #8391a2;
  margin-top: 1rem;
  &__box {
    min-height: 80px;
    font-size: 36px;

  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    background: white;
    color: black;
    font-size: 2rem;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
