<div class="container">
  <mat-card-header>
    <mat-card-title class="head" >Add Poll</mat-card-title>
  </mat-card-header>
  <button mat-raised-button class="button" (click)="viewPoll()">View poll</button>
  <mat-card class="mat-card-form">
    <div class="p-2">
      <mat-card-header>
        <mat-card-title class="mat-card-title1">New Poll</mat-card-title>
      </mat-card-header>
      <mat-hint>Enter the following details to create a poll</mat-hint>
      <div>
        <label>Category Name</label>
        <mat-form-field appearance="outline">
          <mat-select [(ngModel)] = "categoryId">
            <mat-option *ngFor="let category of categories"  [value]="category.id">{{category.categoryName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-card-content>
        <label>Poll Name</label>
        <mat-form-field appearance="outline" floatLabel="always">
          <input matInput [(ngModel)]="pollName" class="place-holder-center" autocomplete="off">
        </mat-form-field>
        <button class="btn-base submit-btn" (click)="savePoll()">Save</button>
        <button class="btn-base cancel-btn" (click)="cancel()">Cancel</button>
      </mat-card-content>
    </div>
  </mat-card>
</div>
